[user]
	name = Your Name
	email = your@mail.address 
[core]
	excludesfile = ~/.gitignore
	editor = code --wait
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
